


.myNav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: red;
    padding: 10px;
}

.myNav ul {
    display: flex;
    gap: 10px;
}

.myNav li {
    list-style: none;
}